@page
@model PrivacyModel
@{
    ViewData["Title"] = "About DevOps";
}
<h1>@ViewData["Title"]</h1>

<p>
    DevOps is a combination of the <u>Dev</u>elopment and <u>Op</u>erations.
    <br/>
</p>
