@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CS7504</h1>
    <p>Security for DevOps where we will learn about DevOps, Source Control, Versioning and Azure.</p>
</div>
